[submodule "libs/oUF"]
	path = libs/oUF
	url = https://github.com/lua-wow/oUF.git
	branch = retail
[submodule "libs/oUF_Atonement"]
	path = libs/oUF_Atonement
	url = https://github.com/lua-wow/oUF_Atonement.git
	branch = master
[submodule "libs/oUF_AuraTrack"]
	path = libs/oUF_AuraTrack
	url = https://github.com/lua-wow/oUF_AuraTrack.git
	branch = master
[submodule "libs/oUF_RaidDebuffs"]
	path = libs/oUF_RaidDebuffs
	url = https://github.com/lua-wow/oUF_RaidDebuffs.git
	branch = master
[submodule "libs/oUF_TargetIndicator"]
	path = libs/oUF_TargetIndicator
	url = https://github.com/lua-wow/oUF_TargetIndicator.git
	branch = master
[submodule "modules/miscellaneous/dispels"]
	path = modules/miscellaneous/dispels
	url = https://github.com/lua-wow/dispels.git
	branch = master
[submodule "modules/miscellaneous/interrupts"]
	path = modules/miscellaneous/interrupts
	url = https://github.com/lua-wow/interrupts.git
	branch = master
[submodule "libs/LibStub"]
	path = libs/LibStub
	url = https://github.com/lua-wow/LibStub.git
	branch = master
[submodule "libs/LibDispel"]
	path = libs/LibDispel
	url = https://github.com/lua-wow/LibDispel.git
	branch = master
[submodule "libs/TaintLess"]
	path = libs/TaintLess
	url = https://github.com/lua-wow/TaintLess.git
	branch = master
